/* Remove scrollbar for the entire page */
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem; 
  max-width: 1200px;
  /* margin: 0 auto; */
  height: 85vh;
  width: 75vw; /* Ensure the container takes full height */
  display: flex;
  flex-direction: column;
}

.title {
  
  font-size: 1.5rem; /* Reduced font size */
  font-weight: bold;
  color: #2d3748;
  text-align: center;
  margin-bottom: 1rem; 
  padding-top: 0;
  margin-top: 0;
}

.searchInput {
  width: 97%;
  padding: 0.75rem;
  margin-bottom: 1rem; /* Reduced margin */
  border: 1px solid hsl(214, 32%, 91%);
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.searchInput:focus {
  border-color: #4a90e2;
}

.loading,
.error,
.noLogs {
  text-align: center;
  color: #718096;
}

.error {
  color: #e53e3e;
}

.tableContainer {
  border: 1px solid #e2e8f0;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  flex: 1; /* Allow the table container to take remaining space */
  display: flex;
  flex-direction: column;
}

.scrollableTable {
  flex: 1; /* Allow the table to take remaining space */
  overflow-y: auto; /* Add scrollbar only for the table */
  display: block;
}

.logsTable {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.logsTable th {
  position: sticky;
  top: 0;
  background-color: rgb(82, 106, 134);
  color: white;
  font-weight: 600;
  padding: 1rem;
  text-align: left;
}

.logsTable td {
  padding: 15px;
  border-bottom: 1px solid #e2e8f0;
  color: #4a5568;
}

.logsTable tbody tr:nth-child(even) {
  background-color: #f7fafc;
}

.logsTable tbody tr:hover {
  background-color: #ebf8ff;
  cursor: pointer;
}

.noLogs {
  padding: 1rem;
  text-align: center;
  color: #a0aec0;
}