.dashboardContainer {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  /* overflow: hidden; */
  display: flex;
  width:82vw;
  flex-direction: column;
  transition: margin-left 0.3s ease; /* Smooth transition */
}

.mainContent.sidebarOpen {
  margin-left: 250px; /* Width of the open sidebar */
}

.mainContent.sidebarClosed {
  margin-left: 80px; /* Width of the closed sidebar */
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  /* background-color:#363a45; */
  background-color: var(--background-color);
  background-color: #232347;
  background: hsla(240, 27%, 31%, 1);

  background: linear-gradient(90deg, hsla(240, 27%, 31%, 1) 0%, hsla(240, 9%, 9%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(240, 27%, 31%, 1) 0%, hsla(240, 9%, 9%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(240, 27%, 31%, 1) 0%, hsla(240, 9%, 9%, 1) 100%);
}