.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
}

.sidebarOpen {
  width: 250px;
}

.sidebarClosed {
  width: 80px;
}

.sidebarContainer {
  height: 100%;
  background-color: #dde2f5;
  backdrop-filter: blur(10px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #374151;
  border-radius: 15px;
}

.menuButton {
  padding: 8px;
  border-radius: 50%;
  max-width: fit-content;
  transition: background-color 0.3s ease;
}

.menuButton:hover {
  border-radius: 10px;
  background-color: #374151;
}

.nav {
  margin-top: 32px;
  flex-grow: 1;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 13px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.navItem:hover {
  background-color: #d0d5f8;
}

/* Active item style */
.navItem.active {
  background-color: #485260; /* Highlight color */
}

.navItem.active .navText {
  color: white; /* Text color for active item */
}

.navText {
  margin-left: 16px;
  white-space: nowrap;
  color: #7a879c;
  font-weight: 400;
}