.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
}

.sidebarOpen {
  width: 250px;
}

.sidebarClosed {
  width: 80px;
}

.sidebarContainer {
  height: 100%;
  /* background-color: #272b34; */
  background: hsla(240, 26%, 28%, 1);

  background: linear-gradient(90deg, hsla(240, 26%, 28%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(240, 26%, 28%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(240, 26%, 28%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  backdrop-filter: blur(10px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #374151;
  border-radius: 15px;
}

.nav {
  margin-top: 32px;
  flex-grow: 1;
  overflow-y: auto;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 13px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.navItem:hover {
  background-color: #485260;
}

.navItem.active {
  background-color: #ff8700;
}

.navItem.active .navText {
  color: white;
}

.navText {
  margin-left: 16px;
  white-space: nowrap;
  color: #7a879c;
  font-weight: 400;
}

/* Custom style for Sign Out text */
.navItem[data-href="/login"] .navText {
  color: #ff8700; /* Orange color for Sign Out text */
}

.projectSection {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #374151;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.projectSection:hover {
  background-color: #485260;
}

.projectName {
  margin-left: 16px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ff8700;
  white-space: nowrap;
}